<%- include('./partials/nav.ejs') %>

    <div class="container" style="margin-top:120px;">
       
        <div class="row  text-center">

            <div class="col-md-12 col-sm-1 my-2">
                <div class="card shadow border-0">
                    <div class="card-header border-0 text-center  text-light"
                        style="border-radius: 22px 22px 0px 0px;background-color:#1da375">
                        <strong>
                            Estadisticas totales
                        </strong>
                    </div>
                    <div class="card-body">

                        <canvas id="barChart"></canvas>

                    </div>
                </div>
            </div>

            <% if ( role=='admin' ) {%>



                <div class="col-md-12 col-sm-12 my-2">
                    <div class="card shadow border-0">

                        <div class="card-body">

                            <canvas id="barChart1"></canvas>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 my-2">
                    <div class="card shadow border-0">

                        <div class="card-body">

                            <canvas id="pieChart1"></canvas>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 my-2">
                    <div class="card shadow border-0">

                        <div class="card-body">

                            <canvas id="pieChart2"></canvas>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 my-2">
                    <div class="card shadow border-0">

                        <div class="card-body">

                            <canvas id="barChart2"></canvas>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 my-2">
                    <div class="card shadow border-0">

                        <div class="card-body">

                            <canvas id="barChart3"></canvas>

                        </div>
                    </div>
                </div>

                <% } %>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script>
        // Obtén los datos del servidor (reemplaza 'datos' con tus datos reales)
        if ('<%- chartData %>') {
            const datos = JSON.parse('<%- chartData %>');

            const meses = datos.map(dato => 'Mes ' + dato.mes);
            const data1 = datos.map(dato => dato.total_kilos);

            // Obtén una referencia al elemento canvas
            const canvas = document.getElementById('barChart');

            // Configura el gráfico utilizando los datos
            const ctx = canvas.getContext('2d');
            const chart = new Chart(ctx, {
                type: 'bar', // Tipo de gráfico (puedes cambiarlo según tus necesidades)
                data: {
                    labels: meses, // Etiquetas para el eje X (vendedores)
                    datasets: [{
                        label: 'Cantidad Biomasa cargada por mes (kg)',
                        data: data1, // Datos para el eje Y (cantidad de clientes)
                        backgroundColor: 'rgba(250, 129, 16, 0.2)', // Color de fondo de las barras
                        borderColor: 'rgba(250, 129, 16, 1)', // Color del borde de las barras
                        borderWidth: 2 // Ancho del borde de las barras
                    }]
                },
                options: {
                    responsive: true,

                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true // Comienza el eje Y en cero
                        }
                    }
                }
            });
        }

    </script>
    <script>
        // Obtén los datos del servidor (reemplaza 'datos' con tus datos reales)
        if ('<%- ctnporlocalidad %>') {

            function getRandomColors(numColors) {
                const colors = [];
                for (let i = 0; i < numColors; i++) {
                    const r = Math.floor(Math.random() * 256);
                    const g = Math.floor(Math.random() * 256);
                    const b = Math.floor(Math.random() * 256);
                    const a = 0.8;
                    colors.push(`rgba(${r}, ${g}, ${b}, ${a}`);
                }
                return colors;
            }
            const datos = JSON.parse('<%- ctnporlocalidad %>');

            const localidades = datos.map(dato => dato.localidad_compostera);
            const data1 = datos.map(dato => dato.cantidad_de_registros);
            const numCategories = datos.length;
            const randomColors = getRandomColors(numCategories);
            console.log(numCategories)
            // Obtén una referencia al elemento canvas
            const canvas = document.getElementById('pieChart1');

            // Configura el gráfico utilizando los datos
            const ctx = canvas.getContext('2d');
            const chart = new Chart(ctx, {
                type: 'doughnut', // Tipo de gráfico (puedes cambiarlo según tus necesidades)
                data: {
                    labels: localidades, // Etiquetas para el eje X (vendedores)
                    datasets: [{
                        data: data1, // Datos para el eje Y (cantidad de clientes)
                        backgroundColor: randomColors, // Color de fondo de las barras
                        borderColor: 'rgba(250, 129, 16, 1)', // Color del borde de las barras
                        borderWidth: 2 // Ancho del borde de las barras
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true // Comienza el eje Y en cero
                        }
                    }
                }
            });
        }

    </script>
    <script>
        // Obtén los datos del servidor (reemplaza 'datos' con tus datos reales)
        if ('<%- chartData %>') {
            const datos = JSON.parse('<%- chartData %>');

            const meses = datos.map(dato => 'Mes ' + dato.mes);
            const data1 = datos.map(dato => dato.total_kilos);

            // Obtén una referencia al elemento canvas
            const canvas = document.getElementById('pieChart2');

            // Configura el gráfico utilizando los datos
            const ctx = canvas.getContext('2d');
            const chart = new Chart(ctx, {
                type: 'doughnut', // Tipo de gráfico (puedes cambiarlo según tus necesidades)
                data: {
                    labels: meses, // Etiquetas para el eje X (vendedores)
                    datasets: [{
                        label: 'Cantidad Biomasa cargada por mes (kg)',
                        data: data1, // Datos para el eje Y (cantidad de clientes)
                        backgroundColor: 'rgba(250, 129, 16, 0.2)', // Color de fondo de las barras
                        borderColor: 'rgba(250, 129, 16, 1)', // Color del borde de las barras
                        borderWidth: 2 // Ancho del borde de las barras
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true // Comienza el eje Y en cero
                        }
                    }
                }
            });
        }

    </script>
    <script>
        // Obtén los datos del servidor (reemplaza 'datos' con tus datos reales)
        if ('<%- chartData1 %>') {
            const datos1 = JSON.parse('<%- chartData1 %>');

            const meses = datos1.map(dato => 'Mes ' + dato.mes);
            const data1 = datos1.map(dato => dato.total_kilos);

            // Obtén una referencia al elemento canvas
            const canvas = document.getElementById('barChart1');

            // Configura el gráfico utilizando los datos
            const ctx1 = canvas.getContext('2d');
            const chart = new Chart(ctx1, {
                type: 'bar', // Tipo de gráfico (puedes cambiarlo según tus necesidades)
                data: {
                    labels: meses, // Etiquetas para el eje X (vendedores)
                    datasets: [{
                        label: 'Cantidad Compost descargado por mes (kg)',
                        data: data1, // Datos para el eje Y (cantidad de clientes)
                        backgroundColor: 'rgba(44, 191, 174, 0.2)', // Color de fondo de las barras
                        borderColor: 'rgba(44, 191, 174, 1)', // Color del borde de las barras
                        borderWidth: 2 // Ancho del borde de las barras
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true // Comienza el eje Y en cero
                        }
                    }
                }
            });
        }

    </script>
    <script>
        const datos2 = JSON.parse('<%- chartData2 %>');
        const ctx2 = document.getElementById('barChart2').getContext('2d');

        const fechas = datos2.map(d => d.ano + '-' + (d.mes < 10 ? '0' + d.mes : d.mes));
        const temperaturas = datos2.map(d => d.temperatura);

        new Chart(ctx2, {
            type: 'line',
            data: {
                labels: fechas,
                datasets: [{
                    label: 'Variación ambiente de Temperatura total',
                    data: temperaturas,
                    borderColor: 'blue',
                    fill: false
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true // Comienza el eje Y en cero
                    }
                }
            }
        });
    </script>
    <script>
        const datos3 = JSON.parse('<%- chartData3 %>');
        const ctx3 = document.getElementById('barChart3').getContext('2d');

        const fechas3 = datos3.map(d => d.ano + '-' + (d.mes < 10 ? '0' + d.mes : d.mes));
        const humedad = datos3.map(d => d.humedad);

        new Chart(ctx3, {
            type: 'line',
            data: {
                labels: fechas3,
                datasets: [{
                    label: 'Variación ambiente de Humedad total',
                    data: humedad,
                    borderColor: 'rgb(29, 163, 117)',
                    fill: false
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true // Comienza el eje Y en cero
                    }
                }
            }
        });
    </script>



    <%- include('./partials/footer.ejs') %>