<!doctype html>
<html lang="en">


<style>
  .login {
    background-color: rgb(238, 238, 238);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;


  }

  .listaUsuarios {

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

  }
</style>

<body class="login">

  <%- include('./partials/nav.ejs') %>





    <div class="container" style="margin-top: 150px; ">
      <div class="row justify-content-center mt-5 ">
        <div class=" col-lg-9 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-title text-center border-bottom">
              <h2 class="p-3">Cargue de Biomasa residual </h2>
            </div>
            <div class="card-body">
              <form action="/agregarBiomasaSend" method="POST" enctype="multipart/form-data">
                <div class="container ">
                  <div class="row justify-content-evenly">
                    <div class="col-lg-6 col-sm-12">
                      <div class="mb-3">
                        <h6 for="fecha">Fecha</h6>
                        <input id="fecha" style="font-size: 12px;" type="date" class="form-control"
                          name="fecha_registro" required>
                      </div>
                      <div class="mb-3">
                        <h6 for="hora">Hora</h6>
                        <input id="hora" style="font-size: 12px;" type="time" class="form-control" name="hora_registro"
                          required>
                      </div>


                      <div class="mb-3">
                        <h6 for="usuario">Cantidad de biomasa residual</h6>
                        <div class="input-group">
                          <span style="font-size: 12px;" class="input-group-text" id="basic-addon1">Canastilla</span>

                          <select style="font-size: 12px;" name="ctnbiomasa" class="form-control" id="ctnbiomasa">
                            <option value="2">2</option>
                            <option value="1.66">1-2/3</option>
                            <option value="1.33">1-1/3</option>
                            <option value="1">1</option>
                            <option value="0.66">2/3</option>
                            <option value="0.33">1/3</option>
                          </select>
                        </div>

                      </div>
                      <div class="mb-3">
                        <h6 for="usuario">Cantidad de material estructurante</h6>
                        <div class="input-group">
                          <span style="font-size: 12px;" class="input-group-text" id="basic-addon2">Canastilla</span>
                          <select style="font-size: 12px;" name="ctnmaterialestructurante" class="form-control"
                            id="ctnmaterialestructurante">
                            <option value="2">2</option>
                            <option value="1.66">1-2/3</option>
                            <option value="1.33">1-1/3</option>
                            <option value="1">1</option>
                            <option value="0.66">2/3</option>
                            <option value="0.33">1/3</option>
                          </select>
                        </div>

                      </div>

                      <div class="mb-3">
                        <h6 for="prevectores">Presencia de vectores</h6>
                        <select style="font-size: 12px;" name="prevectores" class="form-control" id="idprevectores">
                          <option value="ratas">Ratas</option>
                          <option value="moscas">Moscas</option>
                          <option value="moscos">Moscos</option>
                          <option value="ninguno">Ninguno</option>
                          <option value="otro">Otro</option>
                        </select>

                      </div>
                      <div class="mb-3">
                        <h6 for="hallazgoFVS">Nota</h6>
                        <textarea class="form-control" name="hallazgoFVS" id="hallazgoFVS" cols="30"
                          rows="2"></textarea>
                      </div>
                      

                    </div>
                    <div class="col-lg-6 col-sm-12">
                      <div class="mb-3">

                        <h6 for="usuario">Presencia de olores ofensivos </h6>
                        <select style="font-size: 12px;" name="ausenciaolores" class="form-control" id="">
                          <option value="si">si</option>
                          <option selected value="no">no</option>
                        </select>
                        


                      </div>
                      <div class="mb-3">
                        <h6 for="usuario">Clima</h6>
                        <select name="estClima" class="form-control" id="">
                          <option value="lluvioso">lluvioso</option>
                          <option value="Soleado">Soleado</option>
                          <option value="Nublado">Nublado</option>
                        </select>

                      </div>
                      <div class="mb-3">
                        <h6 for="usuario">Coordenadas de la ubicación</h6>
                        <input style="font-size: 12px;" value="<%= resultscompost[0].coordenas %>" type="text"
                          id="latloguser" class="form-control" name="coordenadas">
                        <input style="font-size: 12px;" value="<%= resultscompost[0].lat %>" type="text" id="lat"
                          class="form-control" name="lat" hidden>
                        <input style="font-size: 12px;" value="<%= resultscompost[0].log %>" type="text" id="log"
                          class="form-control" name="log" hidden>
                        <br>
                        <div class="marker-position" hidden>Abrir mapa</div>
                        <div hidden id="map"></div>


                      </div>
                      <div class="mb-3">
                        <div class="card" style="width: 100%;">
                          <div class="card-body">

                            <div id="weatherData">
                              <!-- Aquí se mostrarán los datos meteorológicos -->
                            </div>

                          </div>
                        </div>
                        <input style="font-size: 12px;" type="text" id="temperatura" class="form-control"
                          name="temperatura" hidden>
                        <input style="font-size: 12px;" type="text" id="humedad" class="form-control" name="humedad"
                          hidden>
                        <input hidden type="text" value="<%= ID%>" class="form-control" style="font-size: 12px;"
                          name="id_quienRegistra" required>
                        <input hidden type="text" value="<%= name%>" class="form-control" style="font-size: 12px;"
                          name="nombre_quienRegistra" required>
                        <input hidden type="text" value="<%= idCompost%>" class="form-control" style="font-size: 12px;"
                          name="idCompost" required>

                      </div>


                    </div>

                  </div>
                  <div class="row">
                   

                    <div class="mb-3">
                      <input class="form-check-input" type="checkbox" id="uploadSwitch" onchange="toggleUpload()">
                      <label for="uploadSwitch">Subir imagen de la compostera</label>
                      <input type="file" id="fileInput" class="form-control" name="evidencia_foto" disabled>
                    </div>

                  </div>
                </div>





                <div class="d-grid">
                  <button type="submit" class="btn btn-success">Continuar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert !="undefined" ) { %>
      <script>
        Swal.fire({
          title: '<%=alertTitle %>',
          text: '<%= alertMessage%>',
          icon: '<%=alertIcon %>',
          showConfirmButton: '<%= showConfirmButton %>',
          timer: '<%= timer %>'
        }).then(() => {
          window.location = '/<%= ruta %>'
        })
      </script>
      <% } %>
        <script>
          var inputs = $("input[type=text]");
          for (var i = 0; i < inputs.length; i++) {
            var aux = $(inputs[i]).val().trim();
            $(inputs[i]).val(aux);
          }
        </script>

        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



        <script>

          const funcionInit = () => {
            if (!"geolocation" in navigator) {
              return alert("Tu navegador no soporta el acceso a la ubicación. Intenta con otro");
            }



            const $latitud = document.querySelector("#latitud"),
              $longitud = document.querySelector("#longitud"),
              $latlog = document.querySelector("#latlog"),
              $enlace = document.querySelector("#enlace");


            const onUbicacionConcedida = ubicacion => {
              console.log("Tengo la ubicación: ", ubicacion);
              const coordenadas = ubicacion.coords;
              $latitud.innerText = coordenadas.latitude;
              $longitud.innerText = coordenadas.longitude;
              $latlog.innerText = coordenadas.latitude + "," + coordenadas.longitude;
              $enlace.href = `https://www.google.com/maps/@${coordenadas.latitude},${coordenadas.longitude},20z`;
            }
            const onErrorDeUbicacion = err => {

              $latitud.innerText = "Error obteniendo ubicación: " + err.message;
              $longitud.innerText = "Error obteniendo ubicación: " + err.message;
              console.log("Error obteniendo ubicación: ", err);
            }

            const opcionesDeSolicitud = {
              enableHighAccuracy: true, // Alta precisión
              maximumAge: 0, // No queremos caché
              timeout: 5000 // Esperar solo 5 segundos
            };

            $latitud.innerText = "Cargando...";
            $longitud.innerText = "Cargando...";
            navigator.geolocation.getCurrentPosition(onUbicacionConcedida, onErrorDeUbicacion, opcionesDeSolicitud);

          };
          document.addEventListener("DOMContentLoaded", funcionInit);

        </script>

        <script>
          $(document).ready(function () {

            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var hour = (now.getHours() < 10 ? '0' : '') + now.getHours() + ":" + (now.getMinutes() < 10 ? '0' : '') + now.getMinutes();

            var today = now.getFullYear() + "-" + (month) + "-" + (day);
            $("#fecha").val(today);
            $("#hora").val(hour);


          

          });
        </script>


        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
          integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
          crossorigin=""></script>

        <script src="/js/scriptsMap.js"></script>
        <script>
          document.getElementById('idprevectores').addEventListener('change', function () {
            var select = this;
            var inputOtro = document.getElementById('inputOtro');

            if (select.value === 'otro') {
              select.name = '';  // Desactiva el name del select
              inputOtro.style.display = 'block';
              inputOtro.name = 'opcion';  // Activa el name del input
            } else {
              select.name = 'opcion';  // Activa el name del select
              inputOtro.style.display = 'none';
              inputOtro.name = '';  // Desactiva el name del input
            }
          });
          PageTransitionEvent
        </script>


        <script>
            function toggleUpload() {
              const fileInput = document.getElementById('fileInput');
              const uploadSwitch = document.getElementById('uploadSwitch');
              fileInput.disabled = !uploadSwitch.checked;
            }
        </script>
        <%- include('./partials/footer.ejs') %>
</body>

</html>