<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- box icons -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  <!-- boottrap vue -->
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- animaciones con css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <title>Inicio de sesión</title>

  <style>
    body {
      margin: 0;
      /* Elimina el margen predeterminado del cuerpo */
      padding: 0;
      /* Elimina el relleno predeterminado del cuerpo */
      height: 100vh;
      background-color: rgb(240, 240, 240);
      /* Ruta a tu imagen de fondo */
      background-size: cover;
      /* Ajusta la imagen para cubrir toda la pantalla */
      background-position: center;
      /* Centra la imagen en la pantalla */
      background-repeat: no-repeat;
      /* Evita la repetición de la imagen de fondo */
      font-family: 'Arial', sans-serif;
      /* Cambia la fuente si es necesario */
      overflow: hidden;
    }

    .shadow-login {
      filter: drop-shadow(-61.8273px 44.1971px 125px rgba(0, 0, 0, 0.04)) drop-shadow(-40.0732px 28.6463px 73.206px rgba(0, 0, 0, 0.0303704)) drop-shadow(-23.815px 17.0241px 39.8148px rgba(0, 0, 0, 0.0242963)) drop-shadow(-12.3655px 8.83943px 20.3125px rgba(0, 0, 0, 0.02)) drop-shadow(-5.03778px 3.60125px 10.1852px rgba(0, 0, 0, 0.0157037)) drop-shadow(-1.14495px 0.818466px 4.91898px rgba(0, 0, 0, 0.00962963));
    }

    .swal2-styled.swal2-confirm {
      background-color: #dc3545 !important;
      border: none !important;

    }

    .swal2-styled.swal2-confirm:focus {
      border: none !important;
    }

    .swal2-styled.swal2-confirm:focus {
      box-shadow: -42.2713px 46.7134px 135px rgba(102, 44, 45, 0.07), -27.3981px 30.2772px 79.0625px rgba(102, 44, 45, 0.0531481), -16.2823px 17.9933px 43px rgba(102, 44, 45, 0.0425185), -8.45426px 9.34267px 21.9375px rgba(102, 44, 45, 0.035), -3.44433px 3.80627px 11px rgba(102, 44, 45, 0.0274815), -0.782802px 0.865062px 5.3125px rgba(102, 44, 45, 0.0168519) !important;
    }

    /* s */

    body {
      margin: 0;
      padding: 0;
    }

    .boton-flotante {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-image: url('img/iconodevcode.png');
      background-size: cover;
      background-color: transparent;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      box-shadow: 50px 4px 20px rgba(0, 0, 0, 0.1);
    }

    .boton-flotante:hover {
      background-color: #2980B9;
      width: 70px;
      height: 70px;
    }



    @media (max-width: 767.98px) {

      .div-login {
        margin-right: 10px;
      }

      .div-img-login {
        display: none;
      }

      html,
      body {
        overflow: hidden;
      }

      .img-div-hero {
        display: none;
      }

      .img-div-hero img {
        display: none;

      }

    }

    .img-div-hero {
      position: relative;
      overflow: hidden;
    }

    .img-div-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(66, 44, 15, 0.6);
    }



    .img-div-hero img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }


    .form-group a {
      color: gray;
      text-decoration: none !important;
    }
  </style>
</head>

<body class="login">

  <div style="margin-top:150px" class="container p-3">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-8">
        <div class="card border-0 shadow text-black">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body p-0">
                <div class="row justify-content-center align-items-center">

                  <div class="col-xl-6 col-md-6 col-xs-6 p-5">
                    <div class="text-center">
                      <img src="img/logop.png" style="width: auto; height:70px" alt="logo" />
                    </div>
                    <div class="mt-5">
                      <form method="post" action="/loginAuth">

                        <div class="form-outline mb-4">

                          <input type="text" id="form2Example11" name='user' class="form-control" placeholder="Usuario"
                            required />
                        </div>

                        <div class="form-outline mb-4">
                          <div class="input-group mb-3">
                            <input type="password" class="form-control" id="newPassword" name="pass"
                              aria-label="Recipient's username" aria-describedby="button-addon2" required
                              placeholder="Contraseña">
                            <button class="btn btn-outline-secondary" onclick="mostrarPassword()" type="button"
                              id="viewPass"><i class='bx bx-low-vision'></i></button>
                          </div>

                        </div>

                        <script>
                          function mostrarPassword() {
                            var viewNewPass = document.getElementById("newPassword");
                            if (viewNewPass.type == "password") {
                              viewNewPass.type = "text";
                            } else {
                              viewNewPass.type = "password";
                            }
                          } 
                        </script>
                        <button class="btn btn-warning btn-block fa-lg columna-login mb-3" type="submit"
                          style="width:100% ;background-color:#E8700C; color:white"> <strong>Iniciar sesión</strong>
                        </button><br>
                        <div class="form-group d-md-flex">
                          <div class="w-50 text-start">
                            <label class="checkbox-wrap checkbox-primary mb-0">Recordarme
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="w-50 text-md-end">
                            <a class="" href="#">Olvide contraseña</a>
                          </div>
                        </div>
                      </form>
                    </div>


                    <button hidden class="btn btn-warning btn-block fa-lg columna-login mb-3" type="button"
                      style="width:100% ;background-color:#E8700C; color:white">
                      Registro
                    </button>

                  </div>
                  <div class="img-div-hero col-xl- col-md-6 col-xs-6 p-0">
                    <div class="img-div-cover"></div>
                    <img src="img/service-6.jpg" alt="">
                  </div>



                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="https://devcode.com.co/" class="boton-flotante shadow-lg">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <!-- esta es el sistema de notificaciones de sweetalert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- script para llamar sweetalert -->
    <% if(typeof alert !="undefined" ) { %>
      <script>
        Swal.fire({
          title: "<%=alertTitle %>",
          text: "<%= alertMessage%>",
          icon: "<%=alertIcon %>",
          showConfirmButton: "<%= showConfirmButton %>",
          timer: "<%= timer %>",
        }).then(() => {
          window.location = "./<%= ruta %>";
        });
      </script>
      <% } %>

        <!-- Lottie animations -->
        <script
          src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
</body>

</html>