<%- include('./partials/nav.ejs') %>

  <head>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

    <style>
      .btn-morado1 {
        color: #ffffff;
        background-color: #453D81;
        border-color: #453D81;
      }
    </style>
    <style>
      .cartdising {
        max-width: 400px;
        height: 240px;
        border-radius: 5px;
        border: solid 5px rgb(15, 157, 88);
        background-image: url(https://redline.net.co/wp-content/uploads/2021/12/fondo-tarjeta1.png);
        /* background-image: url(https://redline.net.co/wp-content/uploads/2021/12/fondo-tarjeta.png); */
        background-color: rgb(15, 157, 88);
        display: inline-flex;
      }

      .cartdising3 {
        max-width: 400px;
        height: 240px;
        border-radius: 5px;
        border: solid 5px rgb(244, 180, 0);
        background-image: url(https://redline.net.co/wp-content/uploads/2021/12/fondo-tarjeta1.png);
        /* background-image: url(https://redline.net.co/wp-content/uploads/2021/12/fondo-tarjeta.png); */
        background-color: rgb(244, 180, 0);
        display: inline-flex;
      }

      .cartdising2 {
        max-width: 400px;
        height: 240px;
        border-radius: 5px;
        border: solid 5px rgb(219, 68, 55);
        /* background-image: url(https://redline.net.co/wp-content/uploads/2021/12/fondo-tarjeta.png); */
        background-image: url(https://redline.net.co/wp-content/uploads/2021/12/fondo-tarjeta1.png);
        background-color: rgb(219, 68, 55);
        display: inline-flex;
      }





      .Fo {
        font-weight: 700;
        padding-left: 10px;
        font-size: 14px;
        border-radius: 10px;
        width: 18px;

        display: inline-block;
        margin-left: 60px;
        margin-top: 0px;
        color: white;
        background-color: blueviolet;
        border: white 1px solid;
      }

      .Fo2 {
        font-weight: 700;
        padding-left: 10px;
        font-size: 14px;
        border-radius: 10px;
        width: 18px;

        display: inline-block;
        margin-left: 2px;
        margin-top: 0px;
        color: white;
        background-color: blueviolet;
        border: white 1px solid;
      }

      .SI {
        font-weight: bold;
        padding-left: 10px;
        font-size: 14px;
        border-radius: 10px;
        width: 18px;

        display: inline-block;
        margin-left: 40px;
        margin-top: 0px;
        color: white;
        background-color: blueviolet;
        border: white 1px solid;
      }

      .Re2 {
        padding-left: 10px;
        font-size: 14px;
        border-radius: 10px;
        width: 18px;

        display: inline-block;
        margin-left: 2px;
        margin-top: 0px;
        color: black;
        font-weight: 700;
        background-color: rgb(245, 204, 40);
        border: white 1px solid;
      }

      .Re {
        padding-left: 10px;
        font-size: 14px;
        border-radius: 10px;
        width: 18px;

        display: inline-block;
        margin-left: 60px;
        margin-top: 0px;
        color: black;
        font-weight: 700;
        background-color: rgb(245, 204, 40);
        border: white 1px solid;
      }

      /* .salto{
      margin-left: 160px

    }
    .salto1{
      display: none;
      margin-left: 100px

    }
    .salto2{
      display: inline-block;
    } */




      .btn-sample {
        color: #ffffff;
        background-color: #691DCC;
        border-color: #130269;

      }

      .btn-sample:hover,
      .btn-sample:focus,
      .btn-sample:active,
      .btn-sample.active,
      .open .dropdown-toggle.btn-sample {
        color: #ffffff;
        background-color: #49247A;
        border-color: #130269;
      }

      .btn-sample:active,
      .btn-sample.active,
      .open .dropdown-toggle.btn-sample {
        background-image: none;
      }

      .btn-sample.disabled,
      .btn-sample[disabled],
      fieldset[disabled] .btn-sample,
      .btn-sample.disabled:hover,
      .btn-sample[disabled]:hover,
      fieldset[disabled] .btn-sample:hover,
      .btn-sample.disabled:focus,
      .btn-sample[disabled]:focus,
      fieldset[disabled] .btn-sample:focus,
      .btn-sample.disabled:active,
      .btn-sample[disabled]:active,
      fieldset[disabled] .btn-sample:active,
      .btn-sample.disabled.active,
      .btn-sample[disabled].active,
      fieldset[disabled] .btn-sample.active {
        background-color: #691DCC;
        border-color: #130269;
      }

      .btn-sample .badge {
        color: #691DCC;
        background-color: #ffffff;
      }

      /* .salto3{
  margin-bottom: 2px; margin-left: 100px;
} */
      @media screen and (max-width: 600px) {
        .cartdising {
          max-width: 400px;
          height: 480px;
          border-radius: 5px;
          border: solid 5px rgb(15, 157, 88);
          background-color: rgb(15, 157, 88);
          display: inline-flex;
        }



        .cartdising3 {
          max-width: 400px;
          height: 480px;
          border-radius: 5px;
          border: solid 5px rgb(244, 180, 0);
          background-color: rgb(244, 180, 0);
          display: inline-flex;

        }
      }

      @media screen and (max-width: 600px) {
        .cartdising2 {
          max-width: 400px;
          height: 480px;
          border-radius: 5px;
          border: solid 5px rgb(219, 68, 55);
          background-color: rgb(219, 68, 55);
          display: inline-flex;
        }

        /* .salto{
      margin-left: 0px;
      display: inline-block;
      margin-top: 2px;

    }
    .salto1{
      display: block;
      margin-top: 2px;
      

    }
    .salto2{
      margin-left: 0px;
      display: inline-block;
      margin-top: 2px;
    }
    .salto3{
      margin-bottom: 0px; margin-left: 6px; margin-top: 3px;
    } */
      }

      #barChart {
        max-width: 600px;
        /* Ajusta el valor según tus necesidades */
        max-height: 300px;
        /* Ajusta el valor según tus necesidades */
      }

      .btn-morado1 {
        color: #fff;
        background-color: #453D81;
        border-color: #453D81;
      }

      .btn-morado1:hover {
        color: #fff;
        background-color: #5214a1;
        border-color: #5214a1;
      }

      .btn-morado1:focus,
      .btn-morado1.focus {
        box-shadow: 0 0 0 0.2rem rgba(25, 0, 255, 0.5);
      }
    </style>
  </head>




  <body style="font-size: 15px">






    <div class="container-fluid " style="margin-top: 150px; text-align: center">

      <div>

      </div>
      <br>
      <div class="pt-1">

      </div>
      <% if(role=='admin' || role=='supervisor' ){ %>

        <div class=" pt-2" hidden>
          <form action="/cronogramaBuscarTel" method="post">
            <div class="container">
              <div class="row">
                <div class="col-11">
                  <input class="form-control" type="text" name="BuscarTel" placeholder="Buscar por numero">

                </div>
                <div class="col-1">
                  <button class="btn btn-outline-dark" type="submit">Buscar</button>

                </div>
              </div>
            </div>
          </form>


        </div>
        <% }%>


          <% if ( role=='admin' || role=='supervisor' ) {%>
            <div class="container-fluid" style="margin-top:100px">
              <div class="row">
                <div class="col-12">
                  <table id="users" class="table display nowrap responsive" style="font-size: 14px; width: 100%;">
                    <thead>
                      <tr>
                        <th>id registro</th>
                        <th>id_compostera</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Clima</th>
                        <th>Temperatura</th>
                        <th>Humedad</th>
                        <th>Insectos</th>
                        <th>Roedores</th>
                        <th>Presencia lixiviados</th>
                        <th>Cnt Material estructurante</th>
                        <th>Cnt Material organico</th>
                        <th>Cnt Producto</th>
                        <th>Tipo registro</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% results.forEach((data1)=> {%>


                        <tr>
                          <td>
                            <%= data1.id %>
                          </td>
                          <td>
                            <%= data1.id_compostera %>
                          </td>
                          <td>
                            <%= data1.fecha_registro %>
                          </td>
                          <td>
                            <%= data1.hora_registro %>
                          </td>
                          <td>
                            <%= data1.clima %>
                          </td>
                          <td>
                            <%= data1.temperatura %> C
                          </td>
                          <td>
                            <%= data1.humedad %> %
                          </td>
                          <td>
                            <%= data1.Pinsectos %>
                          </td>
                          <td>
                            <%= data1.Proedores %>
                          </td>
                          <td>
                            <%= data1.prelixiviados %>
                          </td>
                          <td>
                            <%= data1.CantidadME %> kg
                          </td>
                          <td>
                            <%= data1.CantidadMO %> kg
                          </td>
                          <td>
                            <%= data1.cantidadCompost %>
                          </td>
                          <td>
                            <%= data1.TipoRegistro %>
                          </td>
                          <td>
                            <a href="/detallesRegitroOperacion/<%= data1.id %>" title="Detalles"
                              class="btn btn-sm btn-morado1" type="button"><i
                                class='bx bx-dots-vertical-rounded'></i></a>
                            <a href="/imprimirRegitroOperacion/<%= data1.id %>" title="Imprimir reporte"
                              class="btn btn-sm btn-morado1" type="button"><i class='bx bxs-printer'></i></a>

                            <!-- <a href="/registerUsersDelate/" class="btn btn-danger" type="button"><i class='bx bxs-trash' ></i></a> -->
                            <a onclick="alertDelate('<%= data1.id %>')" class="btn btn-sm btn-danger" type="button"><i
                                class='bx bxs-trash'></i></a>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                </div>


              </div>
            </div>
            <% } %>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" ></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" defer></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js" ></script>



    <script>


      $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#users thead tr')
          .clone(true)
          .addClass('filters')
          .appendTo('#users thead');

        var table = $('#users').DataTable({
          responsive: true,
          order: [[0, 'desc']],
          dom: 'Bfrtip',
          buttons: ['colvis'],
          orderCellsTop: true,
          fixedHeader: true,
          initComplete: function () {
            var api = this.api();

            // For each column
            api
              .columns()
              .eq(0)
              .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                  $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');

                // On every keypress in this input
                $(
                  'input',
                  $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                  .off('keyup change')
                  .on('change', function (e) {
                    // Get the search value
                    $(this).attr('title', $(this).val());
                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                    var cursorPosition = this.selectionStart;
                    // Search the column for that value
                    api
                      .column(colIdx)
                      .search(
                        this.value != ''
                          ? regexr.replace('{search}', '(((' + this.value + ')))')
                          : '',
                        this.value != '',
                        this.value == ''
                      )
                      .draw();
                  })
                  .on('keyup', function (e) {
                    e.stopPropagation();

                    $(this).trigger('change');
                    $(this)
                      .focus()[0]
                      .setSelectionRange(cursorPosition, cursorPosition);
                  });
              });
          },
        });
      });




    </script>



    <script>
      function alertDelate(id) {
        Swal.fire({
          title: '¿Quieres eliminar este usuario?',
          icon: 'warning',
          showCancelButton: true,
          cancelButtonText: 'NO',
          cancelButtonColor: '#d33',
          confirmButtonColor: '#3085d6',
          confirmButtonText: ` SI `,
        }).then((result) => {
          /* Read more about isConfirmed, isDenied below */
          if (result.isConfirmed) {
            Swal.fire('Compostera eliminada exitosamente', '', 'success', 1500)
            const value = true
            setTimeout(timeUot, 2000, value, id);
          }
        })
      }
      function timeUot(values, id) {
        if (values) {
          window.location = '/delatecompostera/' + id
        }

      }
    </script>



    <%- include('./partials/footer.ejs') %>

      <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>


  </body>

  </html>